

*log
*Logs
test.py
*json
__pycache__
sessions
Cache
config.py
*zip
*.spec
dist
build
*db
!app_db
*pyc
config.toml
*txt
GeneratedTomlReader
session_files
.mypy_cache
.vscode
Downloads
*png
*jpg
*session
*session-journal
Input
Output
!pyrightconfig.json
!requirements.txt
*.egg-info
.pytest_cache
test_bot.py
.venv*